$background: #f2f2f2;
$foreground: #ffffff;

$primary: #000000;
$secondary: #ffffff;

$highlight: #333333;
$light-highlight: #ccffff;
$shadow: rgba(0, 0, 0, 0.3);

$primary-text: #222222;
$secondary-text: #ffffff;
