// $background: #261c2c;
// $foreground: #3e2c41;
$background: #202040;
$foreground: #543864;

// $primary: #50cb93;
// $secondary: #fe9898;
$primary: #ff6363;
$secondary: #ffbd69;

$highlight: #5c527f;
$light-highlight: #6e85b2;
$shadow: rgba(0, 0, 0, 0.3);

$primary-text: #dddddd;
$secondary-text: #ffffff;
